body {
  font-family: helvetica;
  font-size: 2vw;
  background: #d8d8d8;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

h2 {
  font-size: 1vw;
  margin-bottom: 5%;
  color: #4a4a4a;
  margin-left: 5%;
}

input[type="text"] {
  float: left;
  width: 96%;
  padding: 2%;
  border: none;
}

pre {
  overflow: auto;
  width: 50%;
  border: 2px solid #4a4a4a;
  font-family: Ubuntu Mono;
  margin: 5%;
  margin-left: 10%;
}

.cow {
  margin-left: 10%;
  font-size: 100%;
}

.ng-binding {
  font-size: 1vw;
}

nav {
  height: 4vw;
  background: #4a4a4a;
  padding: 2vw;
  margin-bottom: 5%;

  li {
    display: inline-block;
    margin-right: 3vw;
  
  a {
    font-size: 3vw;
    color: #9b9b9b;
    margin-right: 55%;
    }
  }
}

.container {
  width: 80%;
  margin-left: 10%;
}

#righttop {
  margin-top: -25%;
  margin-right: 15%;
  float: right;

}

#rightbottom {
  margin-top: -10%;
  margin-right: 20%;
  float: right;

}



#submitbutton {
  width: 50%;
  padding: 3% 0;
  margin-bottom: 0;
  background: #4a4a4a;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 350ms all;
}


#undobutton {
  width: 200%;
  padding: 20% 0;
  margin-bottom: 20px;
  background: #4a4a4a;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 350ms all;
}

footer {
  // height: 4vw;
  background: #9b9b9b;
  padding: 2vw;
  text-align: right;
  color: #4a4a4a;
}
