* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background: #31CF7F;
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-size: 8vh;
  color: #eee;
  margin: 2% 0 0 2.5%;
  // width: 45%;
}

button {
  width: 100%;
}
